body{
    
    font-family: 'Times New Roman', Times, serif;
    
}

ul{
    position: absolute;
    top: 8%;
    left: 65%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 20px 0;
    backdrop-filter: blur(20px);
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 2.5px 5px #d4edf0 ;   
    background-color:#228693 ;
}

ul li
{
list-style: none;
text-align: center;
display: block;
border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.name{
    color: rgb(243, 229, 215);
    font-size: 15px;
}

ul li:last-child
{
    border-right: none;
}
ul li a
{
    text-decoration: none;
    padding: 0 50px;
    display:block;
}

ul li a .icon
{
    width: 40px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
    background-color: #d4edf0;
    border-radius: 20px;
    
}

ul li a .icon .fa
{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    transition: 0.5s;
    color: #000;

}

a:hover .icon 
{
    transform: translate(10%);
    color: aliceblue;
}

.icon{
    box-shadow: 0px 2.5px 5px #d4edf0 ;
}

.ul_2{
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 20px 5px;
    backdrop-filter: blur(20px);
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 2.5px 5px #d4edf0 ;   
    color: #d4edf0;
    background-color: #228693;
    
}

 div{

   width:100%;

    


}

.name{

    font-size: 20px;
    color:#e59c3c;
}

.time-data{

    padding-top: 20px;
}

table, th, td {
    border: #000;
}

.canvas{
    top:20;
}
